<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>在线网校学习平台</title>
    <#include "./common/res.html">
</head>

<body>
<#include "./common/header.html">

</div>
<!--课程列表 start-->
<div class="f-main clearfix types-block clearfix" style="padding:0px;">
    <h3 style="margin-bottom: 20px;">
        <span class="types-title" style="margin-right:40px;">课程列表</span>
        <a href="javascript:void(0)" style="display: inline-block;margin-right:20px;" onclick="_queryPage(1,undefined,'last')">
            <span <#if sort?? && sort=='last'>class="color-oc"</#if> >最新</span>
        </a>
        <a href="javascript:void(0)" style="display: inline-block;" onclick="_queryPage(1,undefined,'pop')">
            <span <#if sort?? && sort=='pop'>class="color-oc"</#if> >最热</span>
        </a>
    </h3>
    <div class="types-content clearfix" style="margin-bottom: 20px;">
        <#if pages??>
        <div>
            <#list pages as item>
            <#assign n = item_index + 1 />
            <a href="${s.base}/course/learn" target="_black">
                <div class="course-card-container" />
                <#if n %5 == 0>
                <div class="course-card-top green-bg">
                    <#elseif n %4 == 0>
                    <div class="course-card-top pink-bg">
                        <#elseif n %3 == 0>
                        <div class="course-card-top purple-bg">
                            <#elseif n %2 == 0>
                            <div class="course-card-top gray-bg">
                                <#else>
                                <div class="course-card-top brown-bg">
                                </#if>
                                <span>${item.subClassifyName!}</span>
                            </div>
                            <div class="course-card-content">
                                <h3 class="course-card-name" title="${item.name!}">${item.name!}</h3>
                                <p  class="course-card-brief" title="${item.brief!}">${item.brief!}</p>
                            </div>
                </div>
            </a>
        </#list>
    </div>
    <#include "./common/tailPage.html">
</#if>
</div>
</div>

</div>

<!--课程列表 END-->
<#include "./common/footer.html">

<script type="text/javascript">

</script>

</body>

</html>
